.TopBarButton {
    background-color: var(--main-bg-color);
    border: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 300;
    height: 48px;
    padding: 12px 24px;
}

.TopBarButton:hover {
    background-color: var(--primary-color-2);
}