.TopBarButton {
    background-color: var(--primary-color-4);
    border: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 300;
    height: 38px;
    padding: 0 12px;
}

.TopBarButton:hover {
    background-color: var(--primary-color-3);
    cursor: pointer;
}

.TopBarButton:focus {
    outline: none;
}