.FlatButton {
    background-color: var(--main-bg-color);
    color: var(--white-color);
    border: none;
    height: 48px;
    font-size: 18px;
    font-weight: 300;
    padding: 12px 24px;
}

.FlatButton:hover {
    background-color: var(--shade-primary-color);
}