.DashboardAppBar {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 72px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.DashboardAppBar-left {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 24px;
    margin-right: 24px;
}

.DashboardAppBar-right {
    display: flex;
    justify-content: flex-end;
    margin-left: 12px;
    margin-right: 24px;
}

.SignOut {
    margin-right: 12px;
}