.Labels {
    display: flex;
    height: 100%;
}

.Labels__threads {
    height: 100%;
    position: relative;
    width: 100%;
}

.Labels__switch-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.Labels__sliders-exit {
    z-index: 1;
}
.Labels__sliders-enter {
    transform: translate3d(100%, 0, 0);
    z-index: 10;
}

.Labels__sliders-enter.Labels__sliders-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
}