.Logo {
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--white-color);
    display: flex;
    font-size: 18px;
    font-weight: 300;
    height: 100%;
}

.Logo-title {
    margin-left: 12px;
}