.SearchInput {
    color: var(--white-color);
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 300;
    height: 38px;
    margin-left: 24px;
}

.SearchInput-input {
    background-color: var(--main-bg-color);
    border-radius: 0;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    flex-grow: 1;
    font-size: 18px;
    font-weight: 300;
    height: 38px;
    padding: 0 12px;
    width: 100%;
}

.SearchInput-input:focus {
    outline: none;
}

.SearchInput-input::placeholder {
    color: var(--white-color);
}

.SearchInput-icon {
    align-items: center;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--white-color);
    border-left: none;
    border-right: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    color: var(--white-color);
    display: flex;
    font-size: 16px;
    font-weight: 300;
    height: 38px;
    justify-content: center;
    width: 38px;
}

.SearchInput-icon:hover {
    background-color: var(--shade-primary-color);
}

.SearchInput-icon:focus {
    outline: none;
}