.ThreadItem {
    border-bottom: 1px solid var(--grey-color);
    display: block;
    font-weight: 300;
    line-height: 24px;
    padding: 12px;
    user-select: none;
}

.ThreadItem--active.ThreadItem--active.ThreadItem--active {
    background-color: var(--primary-color-1);
    border-left: 3px var(--primary-color-4) solid;
    color: var(--primary-color-4);
    font-weight: 600;
    padding-left: 21px;
}

.ThreadItem:hover {
    background-color: var(--grey-color);
    border-bottom: 1px var(--grey-color) solid;
    cursor: pointer;
}

.ThreadItem__header {
    display: flex;
    justify-content: space-between;
}
