.ThreadItem {
    border-bottom: 1px solid var(--grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    line-height: 24px;
    padding: 12px;
    user-select: none;
}

.ThreadItem--active.ThreadItem--active.ThreadItem--active {
    background-color: var(--primary-color-1);
    border-left: 3px var(--primary-color-4) solid;
    padding-left: 9px;
}

.ThreadItem:hover {
    background-color: var(--grey-color);
    border-bottom: 1px var(--grey-color) solid;
    cursor: pointer;
}

.ThreadItem__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ThreadItem__subject { 
    position: relative;
}

.ThreadItem--unread .ThreadItem__subject {
    font-weight: 600;
}

/* .ThreadItem--unread .ThreadItem__subject:after {
    background: var(--primary-color-4);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    width: 12px;
} */

.ThreadItem--unread.ThreadItem--active .ThreadItem__subject {
    color: var(--primary-color-4);
}
