:root {
  --app-white-color: rgb(230, 230, 230);
  --main-bg-color: #50246D;
  --tint-bg-color: #E2CFED;
  --shade-bg-color: #340D4E;
  --black-color: #212121;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
}

button {
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
}


