:root {
  --main-bg-color: #50246D;
  --tint-bg-color: #E2CFED;
  --shade-bg-color: #340D4E;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}


