:root {
  --white-color: rgb(250, 250, 250);
  --grey-color: rgb(230, 230, 230);
  --black-color: #212121;
  --primary-color-main: #5E0E9F;
  --primary-color-1: #8A4FBA;
  --primary-color-2: #722EAA;
  --primary-color-3: #49087E;
  --primary-color-4: #380562;
  --secondary-color-1-main: #B3047E;
  --secondary-color-1-1: #CC4EA6;
  --secondary-color-1-2: #BF2A92;
  --secondary-color-1-3: #8E0063;
  --secondary-color-1-4: #6F004D;
  --secondary-color-2-main: #2D18A4;
  --secondary-color-2-1: #6758BE;
  --secondary-color-2-2: #4A38AF;
  --secondary-color-2-3: #211082;
  --secondary-color-2-4: #170965;
  --main-bg-color: var(--primary-color-main);
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
}

button {
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.hidden {
  display: none;
}