.LabelItem {
    display: block;
    padding: 12px 24px;
    font-weight: 300;
    line-height: 24px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.LabelItem--active {
    background-color: #ccc;
}

.LabelItem--unread {
    font-weight: 600;
}

.LabelItem:hover {
    background-color: var(--tint-primary-color);
    border-bottom: 1px var(--tint-primary-color) solid;
}