.LabelItem {
    display: block;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 24px;
    text-align: center;
}

.LabelItem--active {
    border-left: 3px var(--primary-color-1) solid;
    padding-left: 9px;
}

.LabelItem--unread {
    font-weight: 600;
}

.LabelItem:hover {
    background-color: var(--grey-color);
}