.LabelItem {
    display: flex;
    line-height: 24px;
    padding: 12px 24px;
    justify-content: space-between;
    color: var(--primary-color-3);
}

.LabelItem--active.LabelItem--active.LabelItem--active {
    background-color: var(--primary-color-1);
    border-left: 3px var(--primary-color-4) solid;
    color: var(--primary-color-4);
    font-weight: 600;
    padding-left: 21px;
}

.LabelItem:hover {
    background-color: var(--grey-color);
}

.LabelItem__unread-indicator {
    display: none;
}

.LabelItem--unread > .LabelItem__unread-indicator {
    display: block;
    border-radius: 11px;
    padding: 0 8px;
    height: 22px;
    line-height: 22px;
    background: var(--primary-color-1);
}

.LabelItem--unread.LabelItem--active > .LabelItem__unread-indicator {
    display: block;
    border-radius: 11px;
    padding: 0 8px;
    height: 22px;
    line-height: 22px;
    background: var(--primary-color-2);
}